<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/templates/default.xhtml"
                xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="titulo">Cadastro :: Pessoa</ui:define>
    <ui:define name="conteudo">
        <div class="container">
            <h:form>
                <div class="row center-block">
                    <div class="form-group col-xs-4">
                        <h:outputLabel for="nome" value="Nome"/>
                        <p><h:inputText styleClass="form-control" id="nome"
                                        value="#{pessoaController.pessoa.nome}"/></p>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="form-group col-xs-3">
                        <h:outputLabel for="ocupacao" value="Ocupação"/>
                        <p><h:inputText styleClass="form-control" id="ocupacao"
                                        value="#{pessoaController.pessoa.ocupacao}"/></p>
                    </div>
                </div>
                
                <div class="row center-block">
                    <div class="form-group col-xs-3">
                        <h:outputLabel for="sexo" value="Sexo"/>
                        <p><h:inputText styleClass="form-control" id="sexo"
                                        value="#{pessoaController.pessoa.sexo}"/></p>
                    </div>
                </div>
                
                <div class="row center-block">
                    <div class="form-group col-xs-12">
                        <h:outputLabel for="cep" styleClass="colbg" value="CEP"/>
                        <h:inputText styleClass="form-control cepbtn" id="cep"
                                     value="#{pessoaController.pesquisa_cep}"/>
                        <h:commandButton 
                                value="Pesquisar CEP" 
                                styleClass="btn btn-success" 
                                action="#{pessoaController.pesquisaCep()}">
                                <f:ajax execute="@form" render=":container2"/>
                        </h:commandButton>
                    </div>
                </div>
            </h:form>
            <h:form id="container2">   
                <div class="row center-block">
                    <div class="form-group col-xs-4">
                        <h:outputLabel for="rua" value="Rua"/>
                        <p><h:inputText styleClass="form-control" id="rua"
                                        value="#{pessoaController.logradouro.logradouro}"/></p>
                    </div>
                </div>

                <div class="row center-block">
                    <div class="form-group col-xs-4">
                        <h:outputLabel for="bairro" value="Bairro"/>
                        <p><h:inputText styleClass="form-control" id="bairro"
                                        value="#{pessoaController.logradouro.bairro}"/></p>
                    </div>
                </div>
                <h:form>
                    <div class="row center-block">
                        <div class="form-group col-xs-2">
                            <h:outputLabel for="estado" value="Estado"/>
                            <p:selectOneMenu id="estado" value="#{pessoaController.estado.nome}" onchange="#{pessoaController.populaCidade()}">
                                <p:ajax listener="#{pessoaController.populaCidade()}" update="cidade"/>
                                <f:selectItem itemLabel="Selecione o Estado" itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{pessoaController.listaEstados}" var="e"
                                               itemLabel="#{e.nome}" itemValue="#{e.nome}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="row center-block">
                        <div class="form-group col-xs-2">
                            <h:outputLabel for="cidade" value="Cidade"/>
                            <p:selectOneMenu id="cidade" value="#{pessoaController.cidade.nome}">
                                <f:selectItem itemLabel="Selecione a Cidade" itemValue="" noSelectionOption="true" itemDisabled="#{pessoaController.estado.nome != null}"/>
                                <f:selectItems value="#{pessoaController.listaCidades}" var="c"
                                               itemLabel="#{c.nome}" itemValue="#{c.nome}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>     
                </h:form>
                
            </h:form>
            <h:form>
                <div>
                    <h:commandButton value="Enviar" styleClass="btn btn-success btns" action="#{pessoaController.submitCadastro()}"/>
                    <h:commandButton value="Cancelar" styleClass="btn btn-danger btns" action="homePagePessoa"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>