<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="titulo">Home Page :: Pessoa</ui:define>
    <ui:define name="conteudo">
        <div class="container">
            <h:form>
                <div class="row center-block">
                    <div class="form-group col-xs-12">
                        <h:outputLabel for="nome" value="Nome"/>
                        <p>
                            <h:inputText styleClass="form-control" id="nome"
                                         value="#{listarPessoaController.pesquisa_nome}"/>

                        </p>
                    </div>
                    <div class="form-group col-xs-12">
                        <h:commandButton
                                styleClass="btn btn-primary pull-right"
                                action="#{listarPessoaController.pesquisaPessoa()}"
                                value="Pesquisar">
                            <f:ajax execute="@form" render=":container2"/>
                        </h:commandButton>
                        <h:link outcome="cadastrarPessoa" value="Novo" styleClass="btn btn-success"/>
                    </div>

                </div>
            </h:form>
            <h:form id="container2">


                <h:dataTable id="table" styleClass="table table-condensed table-hover"
                             value="#{listarPessoaController.pessoas}"
                             var="p">
                    <h:column>
                        <f:facet name="header">Nome</f:facet>
                        #{p.nome}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Sexo</f:facet>
                        #{p.sexo}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Data Nascimento</f:facet>
                        <h:outputText value="#{p.nascimento}">
                            <f:converter converterId="xmlCalendarioConverter"/>
                            <f:attribute name="pattern" value="dd-MM-yyyy"/>
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            Ação
                        </f:facet>
                        <h:commandButton value="remover"
                                         styleClass="btn btn-danger btn-sm"
                                         action="#{listarPessoaController.removePessoa(p)}">
                                         
                            <f:ajax execute="@this" render="@form"/>
                        </h:commandButton>
                    </h:column>
                </h:dataTable>
            </h:form>

        </div>
    </ui:define>
</ui:composition>