<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title><ui:insert name="titulo">Título padrão</ui:insert> -
        Frameworks</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <ui:insert name="headers"/>
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>
    <!--<h:outputStylesheet library="css" name="material.min.css"/>-->
    <!--<h:outputStylesheet library="css" name="ripples.min.css"/>-->
    <!--<h:outputStylesheet library="css" name="nprogress.css"/>-->
    <h:outputStylesheet library="css" name="style.css"/>
    <h:outputScript library="javax.faces" name="jsf.js" target="head"/>

</h:head>
<h:body>
    <!--<ui:include src="../componentes/header.xhtml"/>-->

    <div class="container">
        <!--<ui:debug hotkey="x" rendered="#{facesContext.application.projectStage eq 'Development'}"/>-->
        <h:messages id="messages" globalOnly="true"
                    styleClass="messages-alert" errorClass="alert alert-danger"
                    infoClass="alert alert-success" warnClass="alert alert-warning"
                    layout="list"/>
        <!--<h:messages/>-->
    </div>
    <ui:insert name="conteudo">
        Hello Default!
    </ui:insert>

    <ui:insert name="postjavascript">
    </ui:insert>
</h:body>
</html>






