body {
    margin-top: 10px;
    background: #eeeeee;
}

.messages-alert {
    list-style: none;
    padding: 0;
}

.card {
    background: white;
    border-radius: 4px;
    padding: 10px;
    margin: 2px;
    min-width: 100px;
    cursor: pointer;
    color: #000;
    text-decoration: none !important;
}

.card.selected {
    background: #2aabd2;
    color: white;
}

.btns {
    padding: 5px;
}

.cepbtn {
  display: inline-block;
  width: 16.66666667%;;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.colbg{
    width:100%;
    display:block;
}